html, body {
  padding: 20px;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

h1 {
  font-size: 36px;
  color: linen;
}